/*set radiu mixing*/

@mixin bd-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin fontsize-padding($fontsize, $padding) {
  font-size: $fontsize;
  padding : $padding;

}

.button-pill{
    @include bd-radius(50px); 
}
.button-rounded{
    @include bd-radius(3px); 
}


.button {
    box-shadow: inset 0 1px 0 rgba(255,255,255,.5), 0 1px 2px rgba(0,0,0,.15);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiP…dpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==);
    background: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#fbfbfb),color-stop(100%,#e1e1e1));
    background: -webkit-linear-gradient(top,#fbfbfb,#e1e1e1);
    background: linear-gradient(to bottom,#fbfbfb,#e1e1e1);
    display: inline-block;
    vertical-align: middle;
    border: 1px solid $light_gray;
    line-height: $lh_30;
    padding: $pd_15 $pd_30;
    font-weight: 300;
    font-size: $font_larger;
    font-family: $default_font;
    color: #666;
    text-shadow: 0 1px 1px #fff;
    margin: 0;
    text-decoration: none;
    text-align: center;
    &:hover, &:focus{
        color:$dark_gray;
        background: $dark_white;
    }
}

.button-flat{
    box-shadow: none;
    -webkit-transition-property: background;
    transition-property: background;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    background: $flat;
    border: none;
    text-shadow: none;
    &:hover,&:focus{
        background: $flat_hover;
    }
}


.button-flat-primary {
    box-shadow: none;
    -webkit-transition-property: background;
    transition-property: background;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    background: $flat_primary;
    color: $white;
    text-shadow: none;
    border: none;
    &:hover, &:focus{
        color: $white;
        background: $primary_hover;
    }
}

.button-flat-action {
    box-shadow: none;
    -webkit-transition-property: background;
    transition-property: background;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    background: $flat_action;
    color: $white;
    text-shadow: none;
    border: none;
    &:hover, &:focus{
        color: $white;
        background: $action_hover;
    }
}

.button-flat-highlight {
    box-shadow: none;
    -webkit-transition-property: background;
    transition-property: background;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    background: $flat_highlight;
    color: $white;
    text-shadow: none;
    border: none;
    &:hover, &:focus{
        color: $white;
        background: $highlight_hover;
    }
}

.button-flat-caution {
    box-shadow: none;
    -webkit-transition-property: background;
    transition-property: background;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    background: $flat_caution;
    color: $white;
    text-shadow: none;
    border: none;
    &:hover, &:focus{
        color: $white;
        background: $caution_hover;
    }
}

.button-flat-royal {
    box-shadow: none;
    -webkit-transition-property: background;
    transition-property: background;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    background: $flat_royal;
    color: $white;
    text-shadow: none;
    border: none;
    &:hover, &:focus{
        color: $white;
        background: $royal_hover;
    }
}

.button-circle {
    @include bd-radius(240px); 
    box-shadow: inset 0 1px 1px rgba(255,255,255,.5), 0 1px 2px rgba(0,0,0,.2);
    width: $lh_100;
    line-height: $lh_100;
    height: $lh_100;
    padding: $pd_0;
    border-width: $mg_5;
}

.button-glow {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -khtml-animation-iteration-count: infinite;
     animation-iteration-count: infinite;
     -webkit-animation-name: glowing; 
    -khtml-animation-name: glowing;
    animation-name: glowing;
}

.button-primary {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiP…dpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==) #00A1CB;
    background: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#00b5e5),color-stop(100%,#008db2)) #00A1CB;
    background: -webkit-linear-gradient(top,#00b5e5,#008db2) #00A1CB;
    background: linear-gradient(to bottom,#00b5e5,#008db2) #00A1CB;
    border-color: $primary;
    color: $white;
    text-shadow: 0 -1px 1px rgba(0,40,50,.35);
    &:hover, &:focus{
        color: $white;
        background: $primary_hover;
    }
}

.button-action {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiP…dpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==) #7db500;
    background: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#8fcf00),color-stop(100%,#6b9c00)) #7db500;
    background: -webkit-linear-gradient(top,#8fcf00,#6b9c00) #7db500;
    background: linear-gradient(to bottom,#8fcf00,#6b9c00) #7db500;
    border-color: $action;
    color: $white;
    text-shadow: 0 -1px 1px rgba(19,28,0,.35);
    &:hover, &:focus{
        color: $white;
        background: $action_hover;
    }
}

.button-highlight {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiP…dpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==) #F18D05;
    background: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#fa9915),color-stop(100%,#d87e04)) #F18D05;
    background: -webkit-linear-gradient(top,#fa9915,#d87e04) #F18D05;
    background: linear-gradient(to bottom,#fa9915,#d87e04) #F18D05;
    border-color: $highlight;
    color: $white;
    text-shadow: 0 -1px 1px rgba(91,53,2,.35);
    &:hover, &:focus{
        color: $white;
        background: $highlight_hover;
    }
}

.button-caution {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiP…dpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==) #E54028;
    background: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#e8543f),color-stop(100%,#d9331a)) #E54028;
    background: -webkit-linear-gradient(top,#e8543f,#d9331a) #E54028;
    background: linear-gradient(to bottom,#e8543f,#d9331a) #E54028;
    border-color: $caution;
    color: $white;
    text-shadow: 0 -1px 1px rgba(103,24,13,.35);
    &:hover, &:focus{
        color: $white;
        background: $caution_hover;
    }
}

.button-royal {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiP…dpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==) #87318C;
    background: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#99389f),color-stop(100%,#752a79)) #87318C;
    background: -webkit-linear-gradient(top,#99389f,#752a79) #87318C;
    background: linear-gradient(to bottom,#99389f,#752a79) #87318C;
    border-color: $royal;
    color: $white;
    text-shadow: 0 -1px 1px rgba(26,9,27,.35);
     &:hover, &:focus{
        color: $white;
        background: $royal_hover;
    }
}

.button-border {
    box-shadow: none;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    color: $dark_gray;
    border: 2px solid $dark_gray;
    background: 0 0;
    text-shadow: none;
    &:hover, &:focus{
        background: 0 0;
        color: $dark_gray;
        border: 2px solid $light_gray;
    }
}

.button-border-primary {
    box-shadow: none;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    color: $primary;
    border: 2px solid $primary;
    background: 0 0;
    text-shadow: none;
    &:hover, &:focus{
        background: 0 0;
        color: $primary_hover;
        border: 2px solid $primary_hover;
    }
}

.button-border-action {
    box-shadow: none;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    color: $action;
    border: 2px solid $action;
    background: 0 0;
    text-shadow: none;
     &:hover, &:focus{
        background: 0 0;
        color: $action_hover;
        border: 2px solid $action_hover;
    }
}

.button-border-highlight {
    box-shadow: none;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    color: $highlight;
    border: 2px solid $highlight;
    background: 0 0;
    text-shadow: none;
     &:hover, &:focus{
        background: 0 0;
        color: $highlight_hover;
        border: 2px solid $highlight_hover;
    }
}

.button-border-caution {
    box-shadow: none;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    color: $caution;
    border: 2px solid $caution;
    background: 0 0;
    text-shadow: none;
     &:hover, &:focus{
        background: 0 0;
        color: $caution_hover;
        border: 2px solid $caution_hover;
    }
}

.button-border-royal {
    box-shadow: none;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    color: $royal;
    border: 2px solid $royal;
    background: 0 0;
    text-shadow: none;
    &:hover, &:focus{
        background: 0 0;
        color: $royal_hover;
        border: 2px solid $royal_hover;
    }
}

.button-larger{
    @include fontsize-padding($font_normal2, $pd_25 $pd_50);
}
.button-larg{
    @include fontsize-padding($font_smaller2, $pd_20 $pd_40);
}
.button-small{
     @include fontsize-padding($font_larg, $pd_10 $pd_30);
}
.button-smaller{
     @include fontsize-padding($font_normal, $pd_5 $pd_20);
}
.button-tiny{
     @include fontsize-padding($font_smaller, $pd_0 $pd_10);
}

.button.disabled, 
.button.disabled:active, 
.button.disabled:focus, 
.button.disabled:hover, 
button.button:disabled, 
input.button:disabled{
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    filter: alpha(Opacity=80);
    opacity: .8;
    background: $flat;
    border: 1px solid $disable_bd;
    text-shadow: 0 1px 1px #fff;
    color: $disable_color;
    cursor: default;
    -webkit-appearance: none;
}
.button-wrap{
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiP…dpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==);
    background: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#e3e3e3),color-stop(100%,#f2f2f2));
    background: -webkit-linear-gradient(top,#e3e3e3,#f2f2f2);
    background: linear-gradient(to bottom,#e3e3e3,#f2f2f2);
    border-radius: 200px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.04);
    padding: 10px;
    display: inline-block;
}
.button-block{
    display: block;
}
.button-dropdown{
    position: relative;
    overflow: visible;
    display: inline-block;
}