@mixin bd-transition($transition) {
  -webkit-transition: $transition;
    -webkit-transition: $transition;;
    -moz-transition: $transition;;
    -o-transition: $transition;;
    transition: $transition;;
}
@mixin user-selected($user-select){
  -webkit-user-select: $user-select;
     -moz-user-select: $user-select;
      -ms-user-select: $user-select;
          user-select: $user-select;
}

/*toogle-checkbox*/
.toggle-checkbox{
	width: 80px;
    height: 40px;
    margin: 10px;
    border-radius: 50px;
    display: inline-block;
    position: relative;
    background: url(../img/cross.png) no-repeat 50px center $caution;
    cursor: pointer;
    -webkit-transition: background-color .40s ease-in-out;
    -moz-transition: background-color .40s ease-in-out;
    -o-transition: background-color .40s ease-in-out;
    transition: background-color .40s ease-in-out;
    cursor: pointer;
}
.active.checkbox-primary{
	background:url(../img/tick.png) no-repeat 10px center $primary;
}
.active.checkbox-highlight{
	background:url(../img/tick.png) no-repeat 10px center $highlight;
}
.active.checkbox-royal{
	background:url(../img/tick.png) no-repeat 10px center $royal;
}
.active.checkbox-action{
	background:url(../img/tick.png) no-repeat 10px center $action;
}

.checkbox-org{
	position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 9;
    cursor: pointer;
}
.round-button{
	width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 5px;
    top: 50%;
    margin-top: -15px;
    @include bd-transition(all .30s ease-in-out);
}

.toggle-checkbox.active{
	.round-button{
		left: $mg_45;
	}
}

/*flip checkbox*/
.check-wrap{
	display: inline-block;
}

.checkbox-none {
  display:none;
}


.checkbox-none + .label-button {
  outline: 0;
  display: block;
  width: 60px;
  height: 40px;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.checkbox-flip + .label-button:after, .checkbox-flip + .label-button:before {
  display: inline-block;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 2em;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 4px;
}
.checkbox-flip + .label-button:after {
  background: $primary;
  content: attr(data-tg-on);
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.checkbox-flip + .label-button:before {
  content: attr(data-tg-off);
    background: $caution;
}

.checkbox-flip:checked + .label-button:before {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
            background: $primary;
}

.checkbox-flip:checked + .label-button:after {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
  left: 0;
  
}

.checkbox-skewed + .label-button {
  overflow: hidden;
  -webkit-transform: skew(-10deg);
          transform: skew(-10deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  font-family: sans-serif;
  background: $caution;
}
.checkbox-skewed + .label-button:after, .checkbox-skewed + .label-button:before {
  -webkit-transform: skew(10deg);
          transform: skew(10deg);
  display: inline-block;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: $mg_40;
  font-weight: bold;
  color: $white;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
.checkbox-skewed + .label-button:after {
  left: 100%;
  content: attr(data-tg-on);
}
.checkbox-skewed + .label-button:before {
  left: 0;
  content: attr(data-tg-off);
}
.checkbox-skewed + .label-button:active {
   background: $caution;
}
.checkbox-skewed + .label-button:active:before {
  left: -10%;
}
.checkbox-skewed:checked + .label-button {
  background: $primary;
}

.checkbox-skewed:checked + .label-button:before {
  left: -100%;
}
.checkbox-skewed:checked + .label-button:after {
  left: 0;
}
.checkbox-skewed:checked + .label-button:active:after {
  left: 10%;
}

/*Square CheckBox*/
.checkbox-square{
    display: inline-block;
    position: relative;
    padding-left: $mg_30;
    margin-bottom: $mg_15;
    cursor: pointer;
    font-size: $font_larg;
    font-weight: normal;
    input{
      position: absolute;
      z-index: -1;
      opacity: 0;
    }
    .checkbox-indicator{
        position: absolute;
        top: 2px;
        left: 0;
        height: 20px;
        width: 20px;
        background: $light_gray;
    }
    input:checked ~ .checkbox-square-primary{
      background: $primary;
    }
     input:checked ~ .checkbox-square-action{
      background: $action;
    }
     input:checked ~ .checkbox-square-highlight{
      background: $highlight;
    }
     input:checked ~ .checkbox-square-royal{
      background: $royal;
    }
    input:checked ~ .checkbox-indicator:after{
      display: block;
    }

}
.checkbox--square{
    .checkbox-indicator:after{
        left: 8px;
        top: 4px;
        width: $mg_5;
        height: $mg_10;
        border: solid $white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }
    input:disabled ~ .checkbox-indicator:after{
      border-color: $dark_gray;
    }
  } 
.checkbox-indicator:after{
    content: '';
    position: absolute;
    display: none;
}





.checkbox-flip + .label-primary-color:after,
.checkbox-skewed:checked + .label-button.label-primary-color{
  background: $primary;
}

.checkbox-flip + .label-primary-color:before{
  background: $caution;
}

.checkbox-flip:checked + .label-primary-color:after{
  background: $primary;
}

.checkbox-flip + .label-action-color:after,
.checkbox-skewed:checked + .label-button.label-action-color{
  background: $action;
}

.checkbox-flip + .label-action-color:before{
  background: $caution;
}

.checkbox-flip:checked + .label-action-color:after{
  background: $action;
}

.checkbox-flip + .label-highlight-color:after,
.checkbox-skewed:checked + .label-button.label-highlight-color{
  background: $highlight;
}

.checkbox-flip + .label-highlight-color:before{
  background: $caution;
}

.checkbox-flip:checked + .label-highlight-color:after{
  background: $highlight;
}

.checkbox-flip + .label-royal-color:after,
.checkbox-skewed:checked + .label-button.label-royal-color{
  background: $royal;
}

.checkbox-flip + .label-royal-color:before{
  background: $caution;
}

.checkbox-flip:checked + .label-royal-color:after{
  background: $royal;
}
