
@mixin bd-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
a, button{
	&:hover, &:active, &:focus{
		text-decoration: none;
	}
}
.wrapper{

}
.showcase{
	display: block;
}
.showcase-examples{
		padding: $pd_30;
	}
.showcase{
	background: $white;
    margin-bottom: $mg_60;
    h3{
    	padding: $pd_30 $pd_30 $pd_0;
	    margin: $mg_0;
	    font-weight: lighter;
	    font-family: $default_font;
	    text-transform: uppercase;
	    color: $font_gray;
	    font-size: $font_larger;
	    line-height: 20px;
    }
}
.padding_0 {
	@include bd-radius(0px); 
}
