/*set font size*/
$font_normal2 : 28px;
$font_smaller2 : 24px;
$font_larger : 20px;
$font_larg : 16px;
$font_normal : 14px;
$font_small : 13px;
$font_smaller : 12px;
$font_tiny : 8px;
/*set font type*/
$default_font : "Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;

/*set font color*/
$font_gray : #95a5a6;

/*set color */

$white : #ffffff;
$light_gray :  #ecf0f1;
$dark_gray : #666;
$dark_white: #fbfbfb;
$disable_color: #CCC;
$disable_bd : #DDD;

$primary : #007998;
$action : #5a8200;
$highlight : #bf7004;
$caution : #c22d18;
$royal : #632466;
/*set 5 types btn color*/

$flat : #EEE;
$flat_primary : #00A1CB;
$flat_action : #7db500;
$flat_highlight : #F18D05;
$flat_caution : #E54028;
$flat_royal : #87318C;


$flat_hover : #fbfbfb;
$primary_hover : #00b5e5;
$action_hover : #8fcf00;
$highlight_hover : #fa9915;
$caution_hover : #e8543f;
$royal_hover : #99389f;
/*set margin*/

$mg_0 : 0;
$mg_1 : 1px;
$mg_2 : 2px;
$mg_3 : 3px;
$mg_4 : 4px;
$mg_5 : 5px;
$mg_10 : 10px;
$mg_15 : 15px;
$mg_20 : 20px;
$mg_25 : 25px;
$mg_30 : 30px;
$mg_35 : 35px;
$mg_40 : 40px;
$mg_45 : 45px;
$mg_50 : 50px;
$mg_55 : 55px;
$mg_60 : 60px;
/*set padding*/

$pd_0 : 0;
$pd_1 : 1px;
$pd_2 : 2px;
$pd_3 : 3px;
$pd_4 : 4px;
$pd_5 : 5px;
$pd_10 : 10px;
$pd_15 : 15px;
$pd_20 : 20px;
$pd_25 : 25px;
$pd_30 : 30px;
$pd_35 : 35px;
$pd_40 : 40px;
$pd_45 : 45px;
$pd_50 : 50px;
$pd_55 : 55px;
$pd_60 : 60px;

/*set line height*/

$lh_0 : 0;
$lh_5 : 5px;
$lh_10 : 10px;
$lh_15 : 15px;
$lh_20 : 20px;
$lh_25 : 25px;
$lh_30 : 30px;
$lh_35 : 35px;
$lh_40 : 40px;
$lh_45 : 45px;
$lh_50 : 50px;
$lh_55 : 55px;
$lh_60 : 60px;
$lh_100 : 100px;