@charset "UTF-8";
/*set font size*/
/*set font type*/
/*set font color*/
/*set color */
/*set 5 types btn color*/
/*set margin*/
/*set padding*/
/*set line height*/
a:hover, a:active, a:focus, button:hover, button:active, button:focus {
  text-decoration: none; }

.showcase {
  display: block; }

.showcase-examples {
  padding: 30px; }

.showcase {
  background: #ffffff;
  margin-bottom: 60px; }
  .showcase h3 {
    padding: 30px 30px 0;
    margin: 0;
    font-weight: lighter;
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-transform: uppercase;
    color: #95a5a6;
    font-size: 20px;
    line-height: 20px; }

.padding_0 {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px; }

/*set radiu mixing*/
.button-pill {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  border-radius: 50px; }

.button-rounded {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }

.button {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.15);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPΓÇªdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==);
  background: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0, #fbfbfb), color-stop(100%, #e1e1e1));
  background: -webkit-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: linear-gradient(to bottom, #fbfbfb, #e1e1e1);
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #ecf0f1;
  line-height: 30px;
  padding: 15px 30px;
  font-weight: 300;
  font-size: 20px;
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #666;
  text-shadow: 0 1px 1px #fff;
  margin: 0;
  text-decoration: none;
  text-align: center; }
  .button:hover, .button:focus {
    color: #666;
    background: #fbfbfb; }

.button-flat {
  box-shadow: none;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  background: #EEE;
  border: none;
  text-shadow: none; }
  .button-flat:hover, .button-flat:focus {
    background: #fbfbfb; }

.button-flat-primary {
  box-shadow: none;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  background: #00A1CB;
  color: #ffffff;
  text-shadow: none;
  border: none; }
  .button-flat-primary:hover, .button-flat-primary:focus {
    color: #ffffff;
    background: #00b5e5; }

.button-flat-action {
  box-shadow: none;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  background: #7db500;
  color: #ffffff;
  text-shadow: none;
  border: none; }
  .button-flat-action:hover, .button-flat-action:focus {
    color: #ffffff;
    background: #8fcf00; }

.button-flat-highlight {
  box-shadow: none;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  background: #F18D05;
  color: #ffffff;
  text-shadow: none;
  border: none; }
  .button-flat-highlight:hover, .button-flat-highlight:focus {
    color: #ffffff;
    background: #fa9915; }

.button-flat-caution {
  box-shadow: none;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  background: #E54028;
  color: #ffffff;
  text-shadow: none;
  border: none; }
  .button-flat-caution:hover, .button-flat-caution:focus {
    color: #ffffff;
    background: #e8543f; }

.button-flat-royal {
  box-shadow: none;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  background: #87318C;
  color: #ffffff;
  text-shadow: none;
  border: none; }
  .button-flat-royal:hover, .button-flat-royal:focus {
    color: #ffffff;
    background: #99389f; }

.button-circle {
  -webkit-border-radius: 240px;
  -moz-border-radius: 240px;
  -ms-border-radius: 240px;
  border-radius: 240px;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.2);
  width: 100px;
  line-height: 100px;
  height: 100px;
  padding: 0;
  border-width: 5px; }

.button-glow {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -khtml-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: glowing;
  -khtml-animation-name: glowing;
  animation-name: glowing; }

.button-primary {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPΓÇªdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==) #00A1CB;
  background: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0, #00b5e5), color-stop(100%, #008db2)) #00A1CB;
  background: -webkit-linear-gradient(top, #00b5e5, #008db2) #00A1CB;
  background: linear-gradient(to bottom, #00b5e5, #008db2) #00A1CB;
  border-color: #007998;
  color: #ffffff;
  text-shadow: 0 -1px 1px rgba(0, 40, 50, 0.35); }
  .button-primary:hover, .button-primary:focus {
    color: #ffffff;
    background: #00b5e5; }

.button-action {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPΓÇªdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==) #7db500;
  background: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0, #8fcf00), color-stop(100%, #6b9c00)) #7db500;
  background: -webkit-linear-gradient(top, #8fcf00, #6b9c00) #7db500;
  background: linear-gradient(to bottom, #8fcf00, #6b9c00) #7db500;
  border-color: #5a8200;
  color: #ffffff;
  text-shadow: 0 -1px 1px rgba(19, 28, 0, 0.35); }
  .button-action:hover, .button-action:focus {
    color: #ffffff;
    background: #8fcf00; }

.button-highlight {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPΓÇªdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==) #F18D05;
  background: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0, #fa9915), color-stop(100%, #d87e04)) #F18D05;
  background: -webkit-linear-gradient(top, #fa9915, #d87e04) #F18D05;
  background: linear-gradient(to bottom, #fa9915, #d87e04) #F18D05;
  border-color: #bf7004;
  color: #ffffff;
  text-shadow: 0 -1px 1px rgba(91, 53, 2, 0.35); }
  .button-highlight:hover, .button-highlight:focus {
    color: #ffffff;
    background: #fa9915; }

.button-caution {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPΓÇªdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==) #E54028;
  background: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0, #e8543f), color-stop(100%, #d9331a)) #E54028;
  background: -webkit-linear-gradient(top, #e8543f, #d9331a) #E54028;
  background: linear-gradient(to bottom, #e8543f, #d9331a) #E54028;
  border-color: #c22d18;
  color: #ffffff;
  text-shadow: 0 -1px 1px rgba(103, 24, 13, 0.35); }
  .button-caution:hover, .button-caution:focus {
    color: #ffffff;
    background: #e8543f; }

.button-royal {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPΓÇªdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==) #87318C;
  background: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0, #99389f), color-stop(100%, #752a79)) #87318C;
  background: -webkit-linear-gradient(top, #99389f, #752a79) #87318C;
  background: linear-gradient(to bottom, #99389f, #752a79) #87318C;
  border-color: #632466;
  color: #ffffff;
  text-shadow: 0 -1px 1px rgba(26, 9, 27, 0.35); }
  .button-royal:hover, .button-royal:focus {
    color: #ffffff;
    background: #99389f; }

.button-border {
  box-shadow: none;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  color: #666;
  border: 2px solid #666;
  background: 0 0;
  text-shadow: none; }
  .button-border:hover, .button-border:focus {
    background: 0 0;
    color: #666;
    border: 2px solid #ecf0f1; }

.button-border-primary {
  box-shadow: none;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  color: #007998;
  border: 2px solid #007998;
  background: 0 0;
  text-shadow: none; }
  .button-border-primary:hover, .button-border-primary:focus {
    background: 0 0;
    color: #00b5e5;
    border: 2px solid #00b5e5; }

.button-border-action {
  box-shadow: none;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  color: #5a8200;
  border: 2px solid #5a8200;
  background: 0 0;
  text-shadow: none; }
  .button-border-action:hover, .button-border-action:focus {
    background: 0 0;
    color: #8fcf00;
    border: 2px solid #8fcf00; }

.button-border-highlight {
  box-shadow: none;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  color: #bf7004;
  border: 2px solid #bf7004;
  background: 0 0;
  text-shadow: none; }
  .button-border-highlight:hover, .button-border-highlight:focus {
    background: 0 0;
    color: #fa9915;
    border: 2px solid #fa9915; }

.button-border-caution {
  box-shadow: none;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  color: #c22d18;
  border: 2px solid #c22d18;
  background: 0 0;
  text-shadow: none; }
  .button-border-caution:hover, .button-border-caution:focus {
    background: 0 0;
    color: #e8543f;
    border: 2px solid #e8543f; }

.button-border-royal {
  box-shadow: none;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  color: #632466;
  border: 2px solid #632466;
  background: 0 0;
  text-shadow: none; }
  .button-border-royal:hover, .button-border-royal:focus {
    background: 0 0;
    color: #99389f;
    border: 2px solid #99389f; }

.button-larger {
  font-size: 28px;
  padding: 25px 50px; }

.button-larg {
  font-size: 24px;
  padding: 20px 40px; }

.button-small {
  font-size: 16px;
  padding: 10px 30px; }

.button-smaller {
  font-size: 14px;
  padding: 5px 20px; }

.button-tiny {
  font-size: 12px;
  padding: 0 10px; }

.button.disabled,
.button.disabled:active,
.button.disabled:focus,
.button.disabled:hover,
button.button:disabled,
input.button:disabled {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  filter: alpha(Opacity=80);
  opacity: .8;
  background: #EEE;
  border: 1px solid #DDD;
  text-shadow: 0 1px 1px #fff;
  color: #CCC;
  cursor: default;
  -webkit-appearance: none; }

.button-wrap {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPΓÇªdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==);
  background: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0, #e3e3e3), color-stop(100%, #f2f2f2));
  background: -webkit-linear-gradient(top, #e3e3e3, #f2f2f2);
  background: linear-gradient(to bottom, #e3e3e3, #f2f2f2);
  border-radius: 200px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.04);
  padding: 10px;
  display: inline-block; }

.button-block {
  display: block; }

.button-dropdown {
  position: relative;
  overflow: visible;
  display: inline-block; }

/*toogle-checkbox*/
.toggle-checkbox {
  width: 80px;
  height: 40px;
  margin: 10px;
  border-radius: 50px;
  display: inline-block;
  position: relative;
  background: url(../img/cross.png) no-repeat 50px center #c22d18;
  cursor: pointer;
  -webkit-transition: background-color .40s ease-in-out;
  -moz-transition: background-color .40s ease-in-out;
  -o-transition: background-color .40s ease-in-out;
  transition: background-color .40s ease-in-out;
  cursor: pointer; }

.active.checkbox-primary {
  background: url(../img/tick.png) no-repeat 10px center #007998; }

.active.checkbox-highlight {
  background: url(../img/tick.png) no-repeat 10px center #bf7004; }

.active.checkbox-royal {
  background: url(../img/tick.png) no-repeat 10px center #632466; }

.active.checkbox-action {
  background: url(../img/tick.png) no-repeat 10px center #5a8200; }

.checkbox-org {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 9;
  cursor: pointer; }

.round-button {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 5px;
  top: 50%;
  margin-top: -15px;
  -webkit-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.toggle-checkbox.active .round-button {
  left: 45px; }

/*flip checkbox*/
.check-wrap {
  display: inline-block; }

.checkbox-none {
  display: none; }

.checkbox-none + .label-button {
  outline: 0;
  display: block;
  width: 60px;
  height: 40px;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.checkbox-flip + .label-button:after, .checkbox-flip + .label-button:before {
  display: inline-block;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 2em;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 4px; }

.checkbox-flip + .label-button:after {
  background: #007998;
  content: attr(data-tg-on);
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg); }

.checkbox-flip + .label-button:before {
  content: attr(data-tg-off);
  background: #c22d18; }

.checkbox-flip:checked + .label-button:before {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background: #007998; }

.checkbox-flip:checked + .label-button:after {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
  left: 0; }

.checkbox-skewed + .label-button {
  overflow: hidden;
  -webkit-transform: skew(-10deg);
  transform: skew(-10deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  font-family: sans-serif;
  background: #c22d18; }

.checkbox-skewed + .label-button:after, .checkbox-skewed + .label-button:before {
  -webkit-transform: skew(10deg);
  transform: skew(10deg);
  display: inline-block;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 40px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4); }

.checkbox-skewed + .label-button:after {
  left: 100%;
  content: attr(data-tg-on); }

.checkbox-skewed + .label-button:before {
  left: 0;
  content: attr(data-tg-off); }

.checkbox-skewed + .label-button:active {
  background: #c22d18; }

.checkbox-skewed + .label-button:active:before {
  left: -10%; }

.checkbox-skewed:checked + .label-button {
  background: #007998; }

.checkbox-skewed:checked + .label-button:before {
  left: -100%; }

.checkbox-skewed:checked + .label-button:after {
  left: 0; }

.checkbox-skewed:checked + .label-button:active:after {
  left: 10%; }

/*Square CheckBox*/
.checkbox-square {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 16px;
  font-weight: normal; }
  .checkbox-square input {
    position: absolute;
    z-index: -1;
    opacity: 0; }
  .checkbox-square .checkbox-indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #ecf0f1; }
  .checkbox-square input:checked ~ .checkbox-square-primary {
    background: #007998; }
  .checkbox-square input:checked ~ .checkbox-square-action {
    background: #5a8200; }
  .checkbox-square input:checked ~ .checkbox-square-highlight {
    background: #bf7004; }
  .checkbox-square input:checked ~ .checkbox-square-royal {
    background: #632466; }
  .checkbox-square input:checked ~ .checkbox-indicator:after {
    display: block; }

.checkbox--square .checkbox-indicator:after {
  left: 8px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg); }
.checkbox--square input:disabled ~ .checkbox-indicator:after {
  border-color: #666; }

.checkbox-indicator:after {
  content: '';
  position: absolute;
  display: none; }

.checkbox-flip + .label-primary-color:after,
.checkbox-skewed:checked + .label-button.label-primary-color {
  background: #007998; }

.checkbox-flip + .label-primary-color:before {
  background: #c22d18; }

.checkbox-flip:checked + .label-primary-color:after {
  background: #007998; }

.checkbox-flip + .label-action-color:after,
.checkbox-skewed:checked + .label-button.label-action-color {
  background: #5a8200; }

.checkbox-flip + .label-action-color:before {
  background: #c22d18; }

.checkbox-flip:checked + .label-action-color:after {
  background: #5a8200; }

.checkbox-flip + .label-highlight-color:after,
.checkbox-skewed:checked + .label-button.label-highlight-color {
  background: #bf7004; }

.checkbox-flip + .label-highlight-color:before {
  background: #c22d18; }

.checkbox-flip:checked + .label-highlight-color:after {
  background: #bf7004; }

.checkbox-flip + .label-royal-color:after,
.checkbox-skewed:checked + .label-button.label-royal-color {
  background: #632466; }

.checkbox-flip + .label-royal-color:before {
  background: #c22d18; }

.checkbox-flip:checked + .label-royal-color:after {
  background: #632466; }

/*# sourceMappingURL=app.css.map */
